:root {
	--primary-color: #4E944F;
	--secondary-color: #FFD93D;
	--color-white: #fff;
	--color-light: #EFEAD8;
	--color-black: #1B1A17;
	--color-dark: #6D6D6D;

	--transition: all 400ms ease;

	--padding-bottom-section-lg: 12rem;
	--padding-bottom-section-sm: 8rem;

	--container-width-lg: 76%;
	--container-width-md: 87%;
	--container-width-Sm: 92%;
}

/* ===================== GENERAL STYLE =========================== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-white);
	color: var(--color-dark);
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	letter-spacing: 0.4px;
}

img {
	width: 100%;
}

section {
	padding-bottom: var(--padding-bottom-section-lg);
}

.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

button {
	cursor: pointer;
}

.btn {
	display: inline-block;
	width: max-content;
	padding: 1.1rem 1.6rem;
	background-color: var(--primary-color);
	color: var(--color-white);
	transition: var(--transition);
	border:  1px solid transparent;
}

.btn:hover {
	transform: scale(1.05);
}

.btn-outline {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: transparent;
}

.btn-white {
	background-color: var(--color-white);
	color: var(--primary-color);
	border:  1px solid transparent;
}

.btn-white-outline {
	border: 1px solid var(--color-white);
	color: var(--color-white);
	background-color: transparent;
}

h1, h2, h3, h4, h5 {
	color: var(--color-black);
}

h2 {
	font-size: 2.4rem;
	font-weight: 900;
}

h3 {
	font-size: 1.7rem;
	font-weight: 800;
}

h4 {
	font-size: 1.2rem;
	font-weight: 600;
}


/* ===================== NAV STYLE =========================== */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 3;
	transition: var(--transition);
}

.nav__container {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

.nav__logo {
	padding: 0.5rem;
	width: 3rem;
}

.nav__items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.nav__items li {
	padding: 0.4rem 0;
	position: relative;
}

.nav__items li::before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: var(--color-white);
	left: 0;
	right: auto;
	bottom: 0;
	transition: var(--transition);
}

.nav__items li:hover::before {
	width: 100%;
	left: auto;
	right: 0;
}

.nav__items a {
	color: var(--color-white);
}

.hamburger-menu {
	display: none;
	font-size: 32px;
	color: var(--color-white);
	background: none;
	border: none;
}

.hamburger-menu ion-icon {
	vertical-align: middle;
}


/* ===================== HERO STYLE =========================== */

#hero,
.hero__container {
	display: flex;
}

#hero {
	background: rgba(0, 0, 0, 0.8) url('assets/images/Hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
	min-height: 100vh;
	overflow: hidden;
	padding-bottom: 0;
}

.hero__container {
	justify-content: flex-start;
	gap: 1rem;
	align-self: center;
}

.hero__title {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero__title h1 {
	font-size: 3.5rem;
	font-weight: 1000;
	color: var(--color-white);
}

.hero__title p {
	color: rgba(255, 255, 255, 0.7);
}

.hero__title .cta {
	display: flex;
	gap: 1rem;
}


/* ===================== ABOUT STYLE =========================== */

.about__container {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	padding-top: 10rem;
}

.company-image {
	flex: 1;
}

.company-image img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	transition: var(--transition);
}

.company-image img:hover {
	transform: translate(-10px,-10px);
	box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.1);
}

.details {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

/* ===================== FEATURES STYLE =========================== */

#features {
	background-color: var(--color-black);
	padding: 0;
	color: var(--color-light);
}
.features__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.8rem;
	padding: 3rem 1.4rem;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	opacity: 0.5;
	cursor: default;
	transition: var(--transition);
}

.card:hover {
	opacity: 0.9;
}

.card h4 {
	color: var(--color-light);
}

.card .card__image ion-icon {
	font-size: 2.5rem;
}

/* ===================== PORTFOLIO STYLE =========================== */

.portfolio__container {
	padding-top: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.slider__container {
	width: 70%;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.slider {
	position: absolute;
	width: 100%;
	display: grid;
	border: 3px solid rgba(0, 0, 0, 0.3);
	grid-template-columns: auto 300px;
	grid-template-rows: 300px;
	opacity: 0;
	transition: all 1s ease;
}

.slider.active {
	opacity: 1;
}

.slider .slider__left {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider .slider__left p {
	margin-bottom: 2rem;
}

.slider .slider__right img{
	height: 300px;
	object-fit: cover;
}

.slider__nav__container {
	display: flex;
	gap: 1rem;
}

.slider__nav {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: var(--transition);
}

.slider__nav:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.slider__nav.active {
	background-color: rgba(0, 0, 0, 0.3);
}

/* ===================== SUBSCRIPTION STYLE =========================== */

.subscription__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#subscription form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.form__wrapper,
.form__wrapper input[type="email"] {
	width: 100%;
}

.form__wrapper {
	display: flex;
	/*width: 100%;*/
	height: 50px;
	margin-bottom: 2rem;
}

.form__wrapper .form__icon {
	height: 50px;
	width: 50px;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form__wrapper .form__icon ion-icon {
	font-size: 2rem;
	color: var(--color-white);
}

.form__wrapper input[type="email"] {
	outline: none;
	/*width: 100%;*/
	border: 3px solid #ccc;
	padding: 0 1rem;
	color: var(--color-dark);
	font-size: 1.1rem;
}

/* ===================== FOOTER STYLE =========================== */

footer {
	padding: 7rem 0;
	background-color: var(--color-black);
}

footer a {
	color: var(--color-white);
	opacity: 0.4;
	transition: var(--transition);
}

footer a:hover {
	opacity: 1;
}

footer h4 {
	color: var(--color-light);
	margin-bottom: 1.2rem;
}
footer ul li {
	margin: 0.6rem 0;
}

.footer__container {
	display: grid;
	grid-template-columns: 2fr repeat(2, 1fr);
	gap: 2rem;
}

.footer__about {
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer__social {
	display: flex;
	gap: 1rem;
}

.footer__social ion-icon{
	font-size: 1.4rem;
}

.footer__logo {
	width: 50px;
}

/*===================== MEDIA QUERY ==============================*/

/* For Mini Laptop */
@media screen and (max-width: 1024px){

	.container {
		width: var(--container-width-md);
	}

	.slider__container,
	#subscription form {
		width: 80%;
	}

}

/* For Tablet */
@media screen and (max-width: 768px){
	.about__container {
		flex-direction: column;
	}

	.slider__container {
		width: 100%;
	}

	.slider {
		display: block;
		border: none;
	}

	.slider__left p,
	.slider__left h4 {
		color: var(--color-white);
		padding-bottom: 0.4rem;
	}

	.slider__left {
		height: 100%;
		position: absolute;
		z-index: 2;
	}

	.slider__right img{
		filter: brightness(0.4);
	}

}

/* For Mobile */
@media screen and (max-width: 480px){
	.container {
		width: var(--container-width-Sm);
	}

	.nav__items {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 200%;
		background-color: var(--color-white);
		display: flex;
		height: 100vh;
		width: 100vw;
		transition: left 1s ease;
	}

	.nav__items li::before {
		background-color: var(--color-black);
	}

	.nav__items li a {
		font-size: 2rem;
		color: var(--color-black);
	}

	.show-menu {
		left: 0;
	}

	.hamburger-menu {
		display: block;
	}

	.hamburger-menu .off {
		display: none;
		color: var(--color-black);
	}

	#hero {
		text-align: center;
	}

	.hero__title .cta {
		justify-content: center;
	}

	.company-image img {
		width: 100%;
	}

	.features__container {
		grid-template-columns: 1fr;
		grid-row-gap: 3rem;
	}

	#subscription form {
		width: 100%;
	}

	.footer__container {
		grid-template-columns: 1fr;
		grid-column-gap: 3rem;
	}

	.footer__about {
		order: 3;
		padding: 0;
		align-items: center;
	}

	.footer__sitemap,
	.footer__policy,
	.footer__about {
		text-align: center;
	}
}